@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* 独自定義 */
  --color-header-bg: var(--header);
  --color-header-fg: var(--foreground);
}

/*
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}
*/

:root {
  --radius: 0.625rem;

  /* 基本 */
  --background: oklch(0.98 0.002 142.5);
  --foreground: oklch(0.33 0.04 258);

  /* ヘッダー */
  --header: oklch(0.8 0.04 142.5);

  /* カード */
  --card: oklch(0.97 0.01 160); /* 背景よりわずかに明るい中間層 */
  --card-foreground: var(--foreground);

  /* ポップオーバー */
  --popover: oklch(1 0 0); /* ホワイトに維持：明快なUIを意識 */
  --popover-foreground: var(--foreground);

  /* プライマリ・セカンダリ */
  --primary: oklch(0.64 0.08 141);
  --primary-foreground: oklch(0.94 0.01 250);

  --secondary: oklch(0.6 0.06 160);
  --secondary-foreground: oklch(0.94 0.01 250);

  /* ミュートカラー */
  --muted: oklch(0.95 0.01 160); /* 背景に溶け込むような淡さ */
  --muted-foreground: oklch(0.45 0.02 260);

  /* アクセント（強調要素） */
  --accent: oklch(0.85 0.05 150);
  --accent-foreground: var(--foreground);

  /* 警告・エラー（くすみ系を避け、鮮明に） */
  --destructive: oklch(0.69 0.23 27);
  --destructive-foreground: oklch(1 0 0);

  /* 枠線など */
  --border: oklch(0.7 0.04 142.5);
  --input: var(--border);
  --ring: var(--primary);
}
